 body {
    margin: 0%;
    padding: 0%;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    background-color: rgba(240, 154, 50, 0);
    
}
.hide-for-Mobile {
     display: none;
}

$headings-grey-color: hsl(208, 49%, 24%);
$body-grey-color: hsl(207, 13%, 34%); 

    
header {
     background-image: linear-gradient(150deg, hsl(13, 100%, 72%),  hsl(353, 100%, 62%) );
     width: 100%;
    height:  auto;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
   
     
}
          

.M-header-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
      width: 100%;
    height:  auto;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
     background-image: url(images/bg-pattern-intro-desktop.svg);
     background-size: 68rem;
     background-position: 35% 32%;
     background-repeat: no-repeat;
     height: 100%;
     
     
}
     
.M-header-flex {
        padding: 15% 5% ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15%;

}
.M-logo-size {
     max-width: 70%;
}

.M-hamburger {
     max-width: 90%;
     
}
h1, header>div>div>p {
padding: 1% 5%;
text-align: center;
margin: auto;
margin-top: 2%;

}

header>div>div>p {
     max-width: 65%;
     margin-top: 2%;
}


h1{
     font-weight: 600;
     margin-bottom: 0%;
}

.M-button-flex {
     display: flex;
     gap: 5%;
     justify-content: center;
     margin-top: 10%;
     padding-bottom: 25%;
}

.M-start-button, .M-learn-button {
     border: 1px solid white;
     width: 6rem;
     height: fit-content;
     padding: 2%;
     border-radius: 2rem;
     text-align: center;
}
.M-start-button {
     border: opx solid red;
     background-color: white;
     

}
header>div>div>div.M-start-button>a{
     color: hsl(356, 100%, 66%)

}
header>div>div>div>a {
     color:hsl(0, 0%, 100%);
     text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}


     #M-nav-ham {
     position: absolute;
     top: 15%;
     left: 5%;

     display: none;
     background-color: white;
     margin: auto;
     border: 0px solid rgb(233, 57, 86);
     width: 90%;
     height: auto;
     padding: {
          top: 5%;
          bottom: 10%;
          left: auto;
          right: auto;
     }
     color: $headings-grey-color;
     font-weight: 600;
     box-shadow: 0px 5px 7px 1px rgba(71,71,71,0.41);
}

ul>li>div {
     
     display: block;
   
     margin: auto;
}
     
header>div>div>button {
     background-color: rgba(142, 188, 228, 0);
     border-style: none;
}



.header-ham-nav-div{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     gap: 3%;
     width: 100%;
     justify-content: center;
     align-items: center;
}
     

.nav-sign-up {
      border: 1px solid rgba(255, 255, 255, 0);
     background-image: linear-gradient(150deg, hsl(13, 100%, 72%),  hsl(353, 100%, 62%) );
     width: 6rem;
     padding: 3%;
     border-radius: 2rem;
     text-align: center;
     margin: auto;
}
div>div.nav-sign-up>a {
     text-decoration: none;
     color: white;
}
.ul-nav-background {
     border: 0px solid red;
     background-color: rgba(168, 168, 168, 0.159);
     width: fit-content;
     padding: 5% 25%;
     margin: auto;

}
#id-nav-background1, #id-nav-background2, #id-nav-background3 {
     display: none;
}
.nav-hr {
     border: 1px  solid rgba(0, 0, 0, 0.069);
     width: 80%;
}
ul {
     padding-left: 0%;
}
ul>li {
     list-style: none;
     line-height: 2rem;
}
li>a {
     color: $headings-grey-color;
     text-decoration: none;
     font-size: .8rem;
}
ul>div>p>a {
     
     color: $headings-grey-color;
     text-decoration: none;
     font-size: 1rem;
}

%h2-main {
     color: $headings-grey-color;
     font-size: 1.4rem;
     text-align: center;
     margin: 10% 0%;
     line-height: 2.2rem;
}
%h2-p {
     color: $body-grey-color;
     line-height: 1.8rem;
}

     

.h2-first {
     @extend %h2-main;
     margin-top: 20%;
     margin-bottom: 0%;
     
}

.wrapper-1 {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto auto;
     height: auto;
     background-color: rgba(250, 235, 215, 0);
     gap: 0%;

}

.item1 {
     background-color: rgba(127, 255, 212, 0);
     ;
     grid-area: 1/1/ span 1/ span 1;
     margin: 10% auto;
     margin-bottom: 2%;

}

main>div>div.item1>img {
      max-width: 100%;
      object-fit: cover;
    
}

.item2 {
     background-color: rgba(127, 255, 212, 0);
     grid-area: 2/1/ span 1/ span 1;
    
}
.h2-main {
     @extend %h2-main;
       width: 80%;
     text-align: center;
     margin: auto;
     margin-bottom: 5%;
     margin-top: 7%

   
}
.h2-p, .h2-p-down {
     @extend %h2-p;
     width: 80%;
     text-align: center;
     margin: auto;
     margin-bottom: 5%;
     
}
.h2-p-down {
     margin-bottom: 12%;
}

.wrapper-2, .wrapper-2-container  {
     display: block;
     margin-top: 40%;
     border: 1px solid rgba(255, 0, 0, 0);
    
     border-top-right-radius: 8rem;
     border-bottom-left-radius: 8rem;

     background: linear-gradient(180deg,hsl(237,18%,21%) 0%, hsl(237,23%,32%) 80%);
     
     
}

// media - query start

main>div.wrapper-2>div>img {
     max-width: 100%;
     position: relative;
     bottom: 10rem;
}

@media screen and (max-width: 420px) {
     
main>div.wrapper-2>div>img {
     max-width: 100%;
     position: relative;
     bottom: 7rem;
}
     
}

// media - query end

.wrapper-2-container {
     margin-top: 0%;
     height: auto;
     background-image: url(images/bg-pattern-circles.svg);
      background-position: -9em -16em;
     background-repeat: no-repeat;
     background-size: 46em;
}


.state {
     display: block;
     margin: auto;
     margin-top: -45%;
      background-color: rgba(0, 255, 255, 0);
      width: 80%;
}





.h2-main2 {
     @extend %h2-main;
     color: white;
     font-size: 2.2rem;
     margin-bottom: 3%;
     line-height: 3rem

}

.h2-p2 {
     @extend %h2-p;
     color: white;
     text-align: center;
     margin: auto;
     margin-bottom: 30%;
     line-height: 2rem;
     font-size: 1.1rem;
    
}

// media - query start

@media screen and (max-width: 420px) {
     
.h2-p2 {
     color: white;
     text-align: center;
     margin: auto;
     margin-bottom: 40%;
     line-height: 2rem;
     font-size: 1.1rem;
    
}

}

// media - query end


.footer, .footer-wrapper {
     margin-top: 20%;
     background-color: hsl(240, 10%, 16%);
     color: hsl(240, 2%, 79%);
     border: 0px solid red;
     height: auto;
     border-top-right-radius: 7rem;
     
}
.footer-wrapper {
     display: grid;
     
     justify-content: center;
     grid-template-rows: auto auto auto auto;
     grid-template-columns: auto;
    
}
.footer-item-1 {
     grid-area: 1/1/ span 1/span 1;
     padding-top: 70%; 
     padding-bottom: 30%;
     margin: auto;
}

div.footer-wrapper>div>div>img {
     max-width: 100%;
}
     

.footer-logo {
     background-color: rgba(0, 255, 255, 0);
}


.footer-item-2 {
     grid-area: 2/1/ span 1/span 1;
}

.footer-item-3 {
     grid-area: 3/1/ span 1/span 1;
}


.footer-item-4 {
     grid-area: 4/1/ span 1/span 1;
     padding-bottom: 40%;
}
h3 {
     text-align: center;
     font-size: 1.7rem;
}


div.footer-wrapper>div>ul>li>a {
     color: hsl(240, 2%, 79%);
     font-size: 1.2rem;
}
div.footer-wrapper>div>ul>li {
     line-height: 2.2rem;
     text-align: center;
    
}

@media screen and (min-width: 320px ) and (max-width:499px) {
.hide-for-Mobile {
     display: none;
}
}

@media screen and (min-width: 500px )  {
    
        
header {
     background-image: linear-gradient(60deg, hsl(13, 100%, 72%),  hsl(353, 100%, 62%) );
     width: 100%;
    height:  auto;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
     
}
          

.M-header-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
      width: 100%;
    height:  auto;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
     background-image: url(images/bg-pattern-intro-desktop.svg);
     background-size: 170rem;
     background-position: 25% 52%;
     background-repeat: no-repeat;
     height: 100%;
}
 
.hide-for-pc {
     display: none;
}

.P-header-flex {
     background-color: rgba(0, 255, 255, 0);
     display: grid;
     grid-template-rows: auto auto auto;
     grid-template-columns: auto;
     height: 100px;
      padding: 15% 5% ;


}

   
  
 

}












     



    






     



 


    

           
           
