body {
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  background-color: rgba(240, 154, 50, 0);
}

header {
  background-image: linear-gradient(150deg, #ff8f70, #ff3d54);
  width: 100%;
  height: 30rem;
  border: 0px solid red;
  border-bottom-left-radius: 6rem;
}

.M-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 0px solid red;
  border-bottom-left-radius: 6rem;
  background-image: url(images/bg-pattern-intro-desktop.svg);
  background-size: 68rem;
  background-position: 35% 32%;
  background-repeat: no-repeat;
  height: 100%;
}

.M-header-flex {
  padding: 15% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15%;
}

.M-logo-size {
  max-width: 70%;
}

.M-hamburger {
  max-width: 90%;
}

h1, header > div > p {
  padding: 1% 5%;
  text-align: center;
}

h1 {
  font-weight: 600;
  margin-bottom: 0%;
}

header > div > p {
  margin-top: 0%;
}

.M-button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.M-start-button, .M-learn-button {
  border: 1px solid white;
  width: 6rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  border-radius: 1rem;
  text-align: center;
}

.M-start-button {
  background-color: white;
}

header > div > div > div.M-start-button > a {
  color: #ff525d;
}

header > div > div > div > a {
  color: white;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 600;
}

#M-nav-ham {
  position: absolute;
  top: 15%;
  left: 5%;
  display: none;
  background-color: white;
  margin: auto;
  border: 0px solid #e93956;
  width: 90%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: auto;
  padding-right: auto;
  color: #1f3f5b;
  font-weight: 600;
  -webkit-box-shadow: 0px 5px 7px 1px rgba(71, 71, 71, 0.41);
          box-shadow: 0px 5px 7px 1px rgba(71, 71, 71, 0.41);
}

ul > li > div {
  display: block;
  margin: auto;
}

header > div > div > button {
  background-color: rgba(142, 188, 228, 0);
  border-style: none;
}

.header-ham-nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-sign-up {
  border: 1px solid rgba(255, 255, 255, 0);
  background-image: linear-gradient(150deg, #ff8f70, #ff3d54);
  width: 6rem;
  padding: 3%;
  border-radius: 2rem;
  text-align: center;
  margin: auto;
}

div > div.nav-sign-up > a {
  text-decoration: none;
  color: white;
}

.ul-nav-background {
  border: 0px solid red;
  background-color: rgba(168, 168, 168, 0.159);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5% 25%;
  margin: auto;
}

#id-nav-background1, #id-nav-background2, #id-nav-background3 {
  display: none;
}

.nav-hr {
  border: 1px solid rgba(0, 0, 0, 0.069);
  width: 80%;
}

ul {
  padding-left: 0%;
}

ul > li {
  list-style: none;
  line-height: 2rem;
}

li > a {
  color: #1f3f5b;
  text-decoration: none;
  font-size: .8rem;
}

ul > div > p > a {
  color: #1f3f5b;
  text-decoration: none;
  font-size: 1rem;
}

.h2-first, .h2-main, .h2-main2 {
  color: #1f3f5b;
  font-size: 1.4rem;
  text-align: center;
  margin: 10% 0%;
  line-height: 2.2rem;
}

.h2-p, .h2-p2 {
  color: #4b5862;
  line-height: 1.8rem;
}

.h2-first {
  margin-top: 20%;
  margin-bottom: 0%;
}

.wrapper-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: auto;
  background-color: rgba(250, 235, 215, 0);
  gap: 2%;
}

.item1 {
  background-color: rgba(127, 255, 212, 0);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/ span 1/ span 1;
  margin: 10% 0%;
  margin-bottom: 2%;
}

main > div > div.item1 > img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item2 {
  background-color: rgba(127, 255, 212, 0);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/ span 1/ span 1;
}

.h2-main {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}

.h2-p {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}

.wrapper-2, .wrapper-2-container {
  display: block;
  margin-top: 40%;
  border: 1px solid rgba(255, 0, 0, 0);
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), color-stop(80%, #3f4164));
  background: linear-gradient(180deg, #2c2d3f 0%, #3f4164 80%);
}

main > div.wrapper-2 > div > img {
  max-width: 100%;
  position: relative;
  bottom: 8rem;
}

.wrapper-2-container {
  margin-top: 0%;
  height: auto;
  background-image: url(images/bg-pattern-circles.svg);
  background-position: -9em -16em;
  background-repeat: no-repeat;
  background-size: 46em;
}

.state {
  display: block;
  margin: auto;
  margin-top: -40%;
  background-color: rgba(0, 255, 255, 0);
  width: 80%;
}

.h2-main2 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 3%;
  line-height: 3rem;
}

.h2-p2 {
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 30%;
  line-height: 2rem;
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */