 body {
    margin: 0%;
    padding: 0%;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    background-color: rgba(240, 154, 50, 0);
    
}
$headings-grey-color: hsl(208, 49%, 24%);
$body-grey-color: hsl(207, 13%, 34%); 

    
header {
     background-image: linear-gradient(150deg, hsl(13, 100%, 72%),  hsl(353, 100%, 62%) );
     width: 100%;
    height:  30rem;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
     
}
          

.M-header-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
      width: 100%;
    height:  auto;
     border: 0px solid red;
     border-bottom-left-radius: 6rem;
     background-image: url(images/bg-pattern-intro-desktop.svg);
     background-size: 68rem;
     background-position: 35% 32%;
     background-repeat: no-repeat;
     height: 100%;
}
     
.M-header-flex {
        padding: 15% 5% ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15%;

}
.M-logo-size {
     max-width: 70%;
}

.M-hamburger {
     max-width: 90%;
     
}
h1, header>div>p {
padding: 1% 5%;
text-align: center;
}

h1{
     font-weight: 600;
     margin-bottom: 0%;
}
header>div>p {
     margin-top: 0%;
}
.M-button-flex {
     display: flex;
     gap: 5%;
     justify-content: center;
     margin-top: 10%;
}

.M-start-button, .M-learn-button {
     border: 1px solid white;
     width: 6rem;
     height: fit-content;
     padding: 2%;
     border-radius: 1rem;
     text-align: center;
}
.M-start-button {
     background-color: white;
     

}
header>div>div>div.M-start-button>a{
     color: hsl(356, 100%, 66%)

}
header>div>div>div>a {
     color:hsl(0, 0%, 100%);
     text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}


     #M-nav-ham {
     position: absolute;
     top: 15%;
     left: 5%;

     display: none;
     background-color: white;
     margin: auto;
     border: 0px solid rgb(233, 57, 86);
     width: 90%;
     height: auto;
     padding: {
          top: 5%;
          bottom: 10%;
          left: auto;
          right: auto;
     }
     color: $headings-grey-color;
     font-weight: 600;
     box-shadow: 0px 5px 7px 1px rgba(71,71,71,0.41);
}

ul>li>div {
     
     display: block;
   
     margin: auto;
}
     
header>div>div>button {
     background-color: rgba(142, 188, 228, 0);
     border-style: none;
}



.header-ham-nav-div{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     gap: 3%;
     width: 100%;
     justify-content: center;
     align-items: center;
}
     

.nav-sign-up {
      border: 1px solid rgba(255, 255, 255, 0);
     background-image: linear-gradient(150deg, hsl(13, 100%, 72%),  hsl(353, 100%, 62%) );
     width: 6rem;
     padding: 3%;
     border-radius: 2rem;
     text-align: center;
     margin: auto;
}
div>div.nav-sign-up>a {
     text-decoration: none;
     color: white;
}
.ul-nav-background {
     border: 0px solid red;
     background-color: rgba(168, 168, 168, 0.159);
     width: fit-content;
     padding: 5% 25%;
     margin: auto;

}
#id-nav-background1, #id-nav-background2, #id-nav-background3 {
     display: none;
}
.nav-hr {
     border: 1px  solid rgba(0, 0, 0, 0.069);
     width: 80%;
}
ul {
     padding-left: 0%;
}
ul>li {
     list-style: none;
     line-height: 2rem;
}
li>a {
     color: $headings-grey-color;
     text-decoration: none;
     font-size: .8rem;
}
ul>div>p>a {
     
     color: $headings-grey-color;
     text-decoration: none;
     font-size: 1rem;
}

%h2-main {
     color: $headings-grey-color;
     font-size: 1.4rem;
     text-align: center;
     margin: 10% 0%;
     line-height: 2.2rem;
}
%h2-p {
     color: $body-grey-color;
     line-height: 2rem;
}

     

.h2-first {
     @extend %h2-main;
     margin-top: 20%;
     margin-bottom: 0%;
     
}

.wrapper-1 {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto auto;
     height: auto;
     background-color: rgba(250, 235, 215, 0);
     gap: 2%;

}

.item1 {
     background-color: rgba(127, 255, 212, 0);
     ;
     grid-area: 1/1/ span 1/ span 1;
     margin: 10% 0%;
     margin-bottom: 2%;

}

main>div>div.item1>img {
      max-width: 100%;
      object-fit: cover;
}

.item2 {
     background-color: rgba(127, 255, 212, 0);
     grid-area: 2/1/ span 1/ span 1;
    
}
.h2-main {
     @extend %h2-main;
       width: 80%;
     text-align: center;
     margin: auto;
     margin-bottom: 5%

   
}
.h2-p {
     @extend %h2-p;
     width: 80%;
     text-align: center;
     margin: auto;
     margin-bottom: 5%;
     
}

.wrapper-2, .wrapper-2-container  {
     display: block;
     margin-top: 40%;
     border: 1px solid rgba(255, 0, 0, 0);
    
     border-top-right-radius: 8rem;
     border-bottom-left-radius: 8rem;

     background: linear-gradient(180deg,hsl(237,18%,21%) 0%, hsl(237,23%,32%) 80%);
     
     
}
main>div.wrapper-2>div>img {
     max-width: 100%;
     position: relative;
     bottom: 8rem;
}
.wrapper-2-container {
     margin-top: 0%;
     height: auto;
     background-image: url(images/bg-pattern-circles.svg);
      background-position: -9em -16em;
     background-repeat: no-repeat;
     background-size: 46em;
}

.state {
     display: block;
     margin: auto;
     margin-top: -40%;
      background-color: rgba(0, 255, 255, 0);
      width: 80%;

}


.h2-main2 {
     @extend %h2-main;
     color: white;
     font-size: 2.2rem;
     margin-bottom: 3%;
     line-height: 3rem

}
.h2-p2 {
     @extend %h2-p;
     color: white;
     text-align: center;
     margin: auto;
     margin-bottom: 30%;
    
    
    

}





     



 


    

           
           
